* {
	margin: 0;
	padding: 0;
}

html { 

}

body {
	width: 800px;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    line-height: 1.25em;
    text-decoration: underline;
    font-weight: 500;
    color: #080878;
    margin-bottom: 20px;
}

h3 {
	font-size: 1.5em;
	line-height: 1.25em;
	font-weight: 500;
	color: #777777;
	margin: 5px 0px;
}

p {
	font-size: 1em;
	line-height: 1.5em;
    padding: 10px 10px;
}

.comment_title {
	border-top: 1px solid #333333;
	margin-top: 10px;
	padding: 10px 10px;

}

.comment {
	width: 80%;
	height: 40px;
	border: 1px solid #555555;
	border-radius: 4px;
	background: #F4F4F4;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.2), inset 0 0 2px 2px rgba(0,0,0,.15);
}

.comment p {
	color: #909090;
}

.comment.active {
	border: 1px solid #555555;
	border-radius: 4px;
	background: #FFFFFF;
	box-shadow: 0 0 2px 2px rgba(8,8,120,.2), inset 0 0 2px 2px rgba(0,0,0,.15);
}

.comment.active p {
	color: #000000;
}

#keyboard_container {
	display: none;
	margin-top: 10px;
}

.show {
	display: block !important;
}