<!DOCTYPE html>
<html>

<head>
<title>Touch test Calibration</title>

<style type="text/css">
</style>
</head>
<body>

<h2> Follow the instructions to calibrate the keyboard to your touch</h2>
<img id="keyboard" src="/static/img/ipad_keyboard.jpeg" width="790px" height="266px" style="display:none">
<canvas id="my_canvas" width = "800px" height="276px" style="border:1px solid black">
</canvas>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/touch_calibration_qtpqaz.js">

</script>

<div id="results"></div>

</body>

</html>