<!DOCTYPE html>
<html>

<head>
<title>DO THE WIGGLE</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1> Swipe</h1>
    <p> Below you'll find an implementation of Swype; using one finger, maintain contact with the keyboard from the start of the word to finish, passing over the letters of your word.  This enables you to type more quickly than you could using discrete key taps. This works best for mobile devices, but also works with a mouse on a full-featured computer. This version of swipe will take the path your finger made on the image of the keyboard, and will interpret which keys you meant to hit and which were crossed incidentally.  If you have a double letter in your word, make a loop over it.  You can enter whole phrases or sentences here; just pick your finger up between words.  Try swipe out below; once you've finished your phrase or sentence, hit 'submit' and the results will send you to a google search of that phrase.
    </p>
    <h3 class="comment_title">Test it out yourself!</h3>
    <div id="swipe_results">
    	<div id="word" class="comment" onclick="add_keyboard()">Tap here to start typing.</div>
    		<button id="search_button">Search</button>

    </div>
    <div id="keyboard_container">
	    <div id="keyboard_data_points" style="display: none;"></div>
		<img id="keyboard" src="/static/img/ipad_keyboard.jpeg" width="790px" height="266px" style="display: none;">
		<canvas id="my_canvas" width="800px" height="276px" style="border:1px solid black"></canvas>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	
	<script type="text/javascript" src="/static/touch_test.js"></script>
	
	<script type="text/javascript">
		function add_keyboard(){
			$("#word").html("");
			$("#keyboard_container").addClass("show");
			$(".comment").addClass("active")
		}
		$('#search_button').click(function() {
			var base_url = 'http://www.google.com/search?q='
			var uri = encodeURI(word)
			var url = base_url + word
			window.location = url
			return false;
		});
	</script>
</body>

</html>